<%- include("header")-%>

<% if(message.length > 0){ %> 
  <div class="alert alert-success">
    <%= message %> 
  </div>
<% } %> 
<div class="container ">
    <div class="main-body white-section">
    
          <!-- Breadcrumb -->
          <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav> -->
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src=<%=imageUrl%> alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="mb-0"> <%=name%>  </h4>
                     
                      <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                    
                      <a class="btn btn-danger logout-btn" href="/logout">Logout</a>
                    
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                    <%=name%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                     <%=email%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      (239) 816-9029
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Department</h6>
                    </div>
                    <div id="department" class="col-sm-8 text-secondary">
                      <%=department%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Year Of Study</h6>
                    </div>
                    <div id="year" class="col-sm-8 text-secondary">
                      <%=year%>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Semester</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                     <%=sem%>
                    </div>
                  </div>
                  <hr>
                  <p class="note">*To get your specific study material on profile page please update the profile.</p>
                  <a href="/profileUpdate" class="btn btn-primary "> Update profile</a>                      
                    </div>
                 
                  </div>
                </div>
              </div>
              
            </div>
        </div>
    </div>

    <div class="row custom-card white-section">
      <div class="mx-auto">
        <div class="card">
          <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
          <div class="card-header">
            <h3><%= department %> </h3>
          </div>
          <div class="card-body">
            
              <div class="row">
                <div class="mx-auto">
                  <div class="card year-card">
                    <div class="card-header">
                      <h3><%=year %> </h3>
                    </div>
                    <div class="card-body">
                      <div class="btn-group drop-down-button">
                        <!-- Basic dropdown -->
                        <button
                          class="btn btn-primary dropdown-toggle mr-4"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          SEM-I&II
                        </button>
                        
                        <form action="/resources" method="POST"> 
                          <div id=<%=department%><%=year%>   class="dropdown-menu"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/resource.js" charset="utf-8"></script>

  

  <%- include("footer")-%>