<%- include("header")-%>


<div  class="white-section ">

    <div class="card-deck">
        <div class="unit-cards">
 
        <form style="margin: 0; padding: 0;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
        
        <div class="card">
            

            <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Unit 1</h5>
            <input type="hidden"  name="unit" value="1">
            <input type="hidden" name="year" value=<%=yearOfStudy%>>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="submit" name="material"  value=<%=subject%> class="btn btn-danger">Resources</button>
          </div>
        </div>
    </form>
               
</div>
<div class="unit-cards">


        <form style=" display:inline!important;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
            <div class="card">
            

                <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">Unit 2</h5>
                <input type="hidden"  name="unit" value="2">
                <input type="hidden" name="year" value=<%=yearOfStudy%>>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="submit" name="material"  value=<%=subject%> class="btn btn-danger">Resources</button>
              </div>
            </div>
    </form>
</div>
<div class="unit-cards">


    <form style=" display:inline!important;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
        <div class="card">
            <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Unit 3</h5>
            <input type="hidden"  name="unit" value="3">
            <input type="hidden" name="year" value=<%=yearOfStudy%>>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button class="btn btn-danger">Resources</button>
          </div>
        </div>
    </form>
</div>
      </div>
      


<div class="white-section">

    <div class="card-deck unit-card-deck">
        <div class="unit-cards">

      
        <form style="margin: 0; padding: 0;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
        <div class="card">
            

            <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Unit 4</h5>
            <input type="hidden"  name="unit" value="4">
            <input type="hidden" name="year" value=<%=yearOfStudy%>>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="" class="btn btn-danger">Expolre</a>
          </div>
        </div>
    </form>
</div>
<div class="unit-cards">
        <form style="margin: 0; padding: 0;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
            <div class="card">
            

                <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">Unit 5</h5>
                <input type="hidden"  name="unit" value="5">
                <input type="hidden" name="year" value=<%=yearOfStudy%>>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="submit" name="material"  value=<%=subject%> class="btn btn-danger">Resources</button>
              </div>
            </div>
    </form>
    </div>
    <div class="unit-cards">
        <form style="margin: 0; padding: 0;" action="/resources/<%=yearOfStudy%>/subject/<%=subject%>" method="POST">
        <div class="card">
            <i class="fa fa-book card-img-top" aria-hidden="true" style="font-size:150px;color:red"></i>
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Unit 6</h5>
            <input type="hidden"  name="unit" value="6">
            <input type="hidden" name="year" value=<%=yearOfStudy%>>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="" class="btn btn-danger">Expolre</a>
          </div>
        </div>
    </form>
    </div>
      </div>
      
</div>
</div>



<%- include("footer")-%>